.postedby{
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    margin-top: 0.75rem; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: rgb(67, 126, 165);
    color: white; 
    }
.date{
    font-size: 0.875rem;
    line-height: 1.25rem;     
}
.continue{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    border-radius: 0.375rem;
    background-color: rgb(67, 126, 165);  
    color: white;

}
.postedby2{
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 700; 
    color: #ffffff; 
    background-color: rgb(67, 126, 165);
}